<!-- header -->
<dribehance-header title="'收貨地址'"></dribehance-header>
<div class="wrap">
    <p class="text-center">
        <a href="#/create_address">+新增收貨地址</a>
    </p>
    <div class="address-item" ng-repeat="address in addresses">
        <p>聯絡人：{{address.link_name}}</p>
        <p>聯絡電話：{{address.link_telephone}}</p>
        <p>詳細地址：{{address.provice+address.country+address.address}}</p>
        <span class="action" ng-click="open(address.id)"><i class="fa fa-trash-o"></i> 刪除</span>
    </div>
    <div class="btn full-width" ng-click="loadMore()" ng-if="addresses.length>0">{{page.message}}</div>
</div>
<div id="popup" class="mfp-hide">
    <div class="section">
        確認刪除地址？
        <span class="btn btn-default" ng-click="cancel()">取消</span>
        <span class="btn btn-primary" ng-click="confirm()">確認</span>
    </div>
</div>