<!-- header -->
<dribehance-header title="'合併貨物'"></dribehance-header>
<div class="list-group has-bottom">
    <div class="text-center bg-warning" style="padding:8px;">
        <div class="text-larger text-primary">运费</div>
        <div class="text-larger text-primary">{{input.rmb}} <span class="text-small">RMB</span> /{{input.hkd}} <span class="text-small">HKD</span></div>
    </div>
    <div class="list-group-item">
        <div class="input-group clearfix">
            <div class="input-label">
                集運方式<span class="text-primary text-small">( 集運方式不同，计费不用)</span>
            </div>
            <div class="col-xs-6">
                <label for="radio_1">
                    <input type="radio" id="radio_1" class="hide" value="self" ng-model="input.way"><i class="fa fa-circle-o" ng-class="{'text-primary':input.way == 'self' }"></i> 自取</label>
            </div>
            <div class="col-xs-6">
                <label for="radio_2">
                    <input type="radio" id="radio_2" class="hide" value="travel" ng-model="input.way"><i class="fa fa-circle-o" ng-class="{'text-primary':input.way == 'travel' }"></i>送貨上門 </label>
            </div>
        </div>
    </div>
    <div class="list-group-item" ng-if="input.way =='self'">
        <div class="input-group clearfix">
            <div class="input-label">
                自取地點
            </div>
            <select name="" id="" class="form-control full-width" ng-model="input.address" ng-options="address.address_get for address in addresses"></select>
        </div>
    </div>
    <div class="list-group-item" ng-if="input.way =='travel'">
        <div class="input-group clearfix">
            <div class="input-label">
                地址類別<span class="text-primary text-small">( 地址類別，计费不用)</span>
            </div>
            <div class="col-xs-6">
                <label for="radio_3">
                    <input type="radio" id="radio_3" class="hide" value="business" ng-model="input.address_type"><i class="fa fa-circle-o" ng-class="{'text-primary':input.address_type == 'business' }"></i> 工商區</label>
            </div>
            <div class="col-xs-6">
                <label for="radio_4">
                    <input type="radio" id="radio_4" class="hide" value="house" ng-model="input.address_type"><i class="fa fa-circle-o" ng-class="{'text-primary':input.address_type == 'house' }"></i>住宅區 </label>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="input-group clearfix">
            <div class="input-label">
                付款方式<span class="text-primary text-small">( 其他付款查詢:whatsapp 52285725)</span>
            </div>
            <select name="" id="" class="form-control full-width" ng-model="input.payment" ng-options="payment for payment in payments"></select>
        </div>
    </div>
    <div class="list-group-item" ng-if="input.way =='travel'">
        <div class="input-group clearfix">
            <div class="input-label">
                收貨地址&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-primary text-small"><a href="#/create_address">+新增收貨地址</a></span>
            </div>
            <select name="" id="" class="form-control full-width" ng-model="input.travel_address" ng-options="travel_address.long_address for travel_address in travel_addresses"></select>
        </div>
    </div>
    <div class="list-group-item">
        <div class="input-group clearfix">
            <div class="input-label">
                營業時間<span class="text-primary text-small">( 時段選擇，方便寄送)</span>
            </div>
            <select name="" id="" class="form-control full-width" ng-model="input.business_hour" ng-options="business_hour.time_get for business_hour in business_hours"></select>
        </div>
    </div>
    <!-- <div class="list-group-item">
        <div class="input-group clearfix">
            <div class="input-label">
                運費合計<span class="text-primary text-small"></span>
            </div>
            
        </div>
    </div> -->
    <div class="list-group-item bg-gray-lighter" ng-if="input.preview=='preview'">
        <div class="cargo-item" ng-repeat="cargo in cargos">
            <div class="cargo-header clearfix">
                快遞編號：{{cargo.express_number}}
                <span class="pull-right">{{get_status(cargo.status)}}</span>
            </div>
            <div class="cargo-content">
                <p>快遞公司：{{cargo.express_company}}</p>
                <p>備註：{{cargo.remarks}}</p>
                <p class="clearfix">
                    <span class="pull-left">公斤：{{cargo.kg}}</span>
                    <span class="pull-right">體重：{{cargo.weight_long}}cmx{{cargo.weight_wide}}cmx{{cargo.weight_height}}cm</span>
                </p>
                <p>創建時間：{{cargo.post_time}}</p>
            </div>
            <div class="cargo-action">
                <!-- <i class="fa fa-check-square-o"></i> -->
            </div>
        </div>
    </div>
    <div class="wrap clearfix">
        <label class="pull-right" ng-if="input.preview=='hide'">
            <input type="radio" class="hide" ng-model="input.preview" value="preview">共{{cargos.length}}件集運 共{{get_weight()}}KG,查看選中的貨物
        </label>
        <label class="pull-right" ng-if="input.preview=='preview'">
            <input type="radio" class="hide" ng-model="input.preview" value="hide"> 收起選中的貨物
        </label>
    </div>
</div>
<div class="tab-bar bottom">
    <div class="tab-item">
        <div class="text-white">體積重：{{get_weight()}}kg</div>
    </div>
    <div class="tab-item">
        <span class="btn btn-primary full-width" ng-click="merge()">確認</span>
    </div>
</div>
