<!-- header -->
<dribehance-header title="'充值記錄'"></dribehance-header>
<div class="list-group">
    <div class="list-group-item" ng-repeat="record in records">
        <div class="cargo-item">
            <div class="cargo-header clearfix">
                支付寶帳號：{{record.acount}}
            </div>
            <div class="cargo-content">
                持有人：{{record.acount_name}}
                <p style="margin-bottom:0px">
                    充值金額(RMB)：{{record.need_from_money}}
                </p>
                <p>
                    入賬金額(HKD)：{{record.need_to_money}}
                </p>
                <p class="clearfix" style="margin-bottom:0px">充值方式：南洋商業銀行
                </p>
                <p>狀態：{{record.status}}</p>
            </div>
        </div>
    </div>
    <div class="btn full-width" ng-click="loadMore()">{{page.message}}</div>
</div>
