<script type="text/javascript" src="lib/js/lib.js"></script>
<div class="owl-carousel owl-theme">
    <img ng-src="http://m.taopai.hk/content/images/banner1.jpg" alt="">
    <img ng-src="http://m.taopai.hk/content/images/banner2.jpg" alt="">
    <img ng-src="http://m.taopai.hk/content/images/banner3.jpg" alt="">
    <img ng-src="http://m.taopai.hk/content/images/banner2.jpg" alt="">
</div>
<div class="grid">
    <a ng-href="#/account" class="grid-item">
        <img ng-src="images/mp1.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				我的集運
			</span>
    </a>
    <a ng-href="#/cargo" class="grid-item">
        <img ng-src="images/mp2.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				我要集運
			</span>
    </a>
    <a ng-href="#/orders" class="grid-item">
        <img ng-src="images/mp3.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				集運訂單
			</span>
    </a>
    <a ng-href="#/services" class="grid-item">
        <img ng-src="images/mp4.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				我要服務
			</span>
    </a>
    <a ng-href="#/calculator" class="grid-item">
        <img ng-src="images/mp5.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				計算器
			</span>
    </a>
    <a ng-href="#/cost" class="grid-item">
        <img ng-src="images/mp6.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				收費價錢
			</span>
    </a>
    <a ng-href="#/question" class="grid-item">
        <img ng-src="images/mp7.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				常見問題
			</span>
    </a>
    <a ng-href="#/infos" class="grid-item">
        <img ng-src="images/mp8.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				最新消息
			</span>
    </a>
    <a ng-href="#/about" class="grid-item">
        <img ng-src="images/mp9.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				公司介紹
			</span>
    </a>
    <a ng-href="#/contact" class="grid-item">
        <img ng-src="images/mp10.jpg" class="grid-img" alt="">
        <span class="grid-title block">
				聯繫我們
			</span>
    </a>
</div>
<div class="footer">
    <div class="wrap">
        <div class="section text-center">
            <a class="col-xs-6 block" ng-href="#/signin">登录</a>
            <a class="col-xs-6 block" ng-href="#/signup">注册</a>
        </div>
        <div class="copyright text-center">
            Copyright © 2014-2015 咇咇集运bibicargo.com 版權所有
        </div>
    </div>
</div>
