<!-- header -->
<dribehance-header title="'最新消息'"></dribehance-header>
<div class="list-group">
	<a class="list-group-item" ng-href="#/info">
		<i class="fa fa-caret-right text-primary" aria-hidden="true"></i>
		增加觀塘自取點
		<span class="pull-right">[2016-05-17]</span>
	</a>
	<a class="list-group-item" ng-href="#/info">
		<i class="fa fa-caret-right text-primary" aria-hidden="true"></i>
		增加觀塘自取點
		<span class="pull-right">[2016-05-17]</span>
	</a>
	<a class="list-group-item" ng-href="#/info">
		<i class="fa fa-caret-right text-primary" aria-hidden="true"></i>
		增加觀塘自取點
		<span class="pull-right">[2016-05-17]</span>
	</a>
</div>