<!-- header -->
<dribehance-header title="'賬號中心'"></dribehance-header>
<div class="wrap">
    <div class="account-section">
        <div class="input-group">
            <div class="input-label">登錄手機號</div>
            <input type="text" class="form-control full-width" placeholder="58623" readonly>
        </div>
        <div class="input-group">
            <div class="input-label">舊郵箱</div>
            <input type="text" class="form-control full-width" placeholder="58623">
        </div>
        <div class="input-group">
            <div class="input-label">新郵箱</div>
            <input type="text" class="form-control full-width" placeholder="請輸入新郵箱">
        </div>
        <div class="input-group">
            <div class="input-label">姓名/稱呼</div>
            <input type="text" class="form-control full-width" placeholder="請輸入姓名/稱呼">
        </div>
        <div class="input-group">
            <div class="input-label">新密碼</div>
            <input type="text" class="form-control full-width" placeholder="請輸入新密碼">
        </div>
        <div class="input-group">
            <div class="input-label">確認密碼</div>
            <input type="text" class="form-control full-width" placeholder="請確認密碼">
        </div>
        <div class="input-group">
            <button class="btn btn-primary full-width btn-lg">確認</button>
        </div>
    </div>
</div>
