<!-- header -->
<dribehance-header title="'常見問題'"></dribehance-header>
<div class="list-group">
	<div class="list-group-item">
		<p class="text-success text-large">1.為何選擇使用咇咇集運合併集運合併</p>
		咇咇集運合併集運是為各會員可省回在國內網購運費的中轉站，但若寄往我們的深圳倉庫中轉站，然後再集合其他店鋪貨物一同寄往香港，節省費用約可節省高達40%。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">2.貨件可合併多少件貨品？</p>
		咇咇物流中轉站，可作無限件合併，但基於每件不能超過每間物流公司的標準尺寸及重量，所以選擇快遞公司前，可先參考各間物流公司的標準規格。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">3.如何查詢貨件是否到達深圳中轉站？</p>
		當您申請成為咇咇集運會員後，各會員便各自享有集運專屬地址，當我們收到物件後，便在系統中更新，會員各自可登入系統貨物清單內查看物流狀態。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">4.何得知何時取貨？</p>
		當所有物件到達咇咇深圳中轉站簽收後，所有物流狀態均會顯示為已到物流中轉站，會員可隨時地選擇已收到的貨件進行合併。一經確認及進行付款手續，約一至三個工作天內，和咇咇合作的快遞公司便會送到會員提供的收貨地址。
	</div>

	<div class="list-group-item">
		<p class="text-success text-large">5.需要在網頁內認領貨件？</p>
		只需註冊成為會員，便能登入系統。所有中轉站收到貨物後會最快時間在貨物清單內顯示，正常情況下，會員無需自行認領貨物。但如因天雨關係或特殊情況下，導致未能清晰看到會員的專屬集運地址，會員也有可能需要輸入運單編號進行認領貨件。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">6.需時多久才可送貨？</p>
		一般情況是1-3天便可送貨到指定地址。除了海關查車例外，所以時間並不能百分百保證，敬請見諒。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">7.咇咇集運與快遞公司合作關係?</p>
		咇咇集運深中轉站是代各會員收集貨物，再委托快遞公司作派送，所以希望各位知悉快遞公司與我們的責任，如快遞公司有任何問題，請勿在淘寶上給予我們差評，建議可直接致電給快遞公司投訴，如快遞公司也未能作出解釋，也可電郵給我們跟進。懇請各會員理解。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">8.需時多久才可送貨？</p>
		一般情況是1-3天便可送貨到指定地址。除了海關查車例外，所以時間並不能百分百保證，敬請見諒。
	</div>

	<div class="list-group-item">
		<p class="text-success text-large">9.如何計算重量？</p>
		貨品到達國內中轉站後，我司便會計算重量，計算單位為kg，準確為0.1kg，重量總和不足一公斤按一公斤計算。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">10.我需要另付包裝費嗎？</p>
		本公司提供基本免費包裝服務，如有特別需要，可透過阿里旺旺與本公司職員聯絡。
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">11.可否在簽收貨品時替我先檢查貨品？</p>
		為免有不必要的誤會，所有貨品都不會檢查的，只會保留原本商戶發貨的包裝。而外包裝有明顯破損的物品，我們會代會員拒絕收貨，避免責任上的問題
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">12.我份件特急,能先送給我嗎?</p>
		如果是特急件不建議使用集運.運輸不會因單件貨品而改變行程.
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">13.收貨后發現少了貨?</p>
		首先,簽收貨前,買家有責任清點貨品收量,确認數量齊全才簽收,如發現量不對就拒簽.由於賣家和買家之間出現溝通問題. 如, 買家買了兩對鞋子. 但賣家沒有把兩對鞋子合併發貨, 而且分開發貨. 那每對鞋子就有一個快递運單號,但賣家只告訴買家其中一個單號,就出現了買家收不齊貨的問題.這個情況買家要向賣家拎取另一個快递運單號即可
	</div>
	<div class="list-group-item">
		<p class="text-success text-large">14.如果寄了液體/危險品?</p>
		危險品會被即時扔掉不作任何通知或賠偿. 如果是普通液體,買家要先書面通知 咇咇集運,然后再自行委托快递上門取走物件.
	</div>
</div>