<!-- header -->
<dribehance-header title="'註冊'"></dribehance-header>
<div class="wrap">
    <div class="input-group">
        <div class="input-label"><span class="text-primary">*</span>姓名/稱呼</div>
        <input type="text" class="form-control full-width" placeholder="姓名/稱呼">
    </div>
    <div class="input-group clearfix">
        <div class="input-label"><span class="text-primary">*</span>手機號：</div>
        <div class="col-xs-7">
        	<input type="text" class="form-control full-width" placeholder="手機號">
        </div>
        <div class="col-xs-4">
        	<button class="btn btn-primary btn-lg">發送驗證碼</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input-label"><span class="text-primary">*</span>密碼</div>
        <input type="text" class="form-control full-width" placeholder="密碼">
    </div>
    <div class="input-group">
        <div class="input-label"><span class="text-primary">*</span>確認密碼</div>
        <input type="text" class="form-control full-width" placeholder="確認密碼">
    </div>
    <div class="input-group">
        <div class="input-label"><span class="text-primary">*</span>電子郵件</div>
        <input type="text" class="form-control full-width" placeholder="電子郵件(用於找回密碼)">
    </div>
    <p class="text-center"><a ng-href="#/privacy">《咇咇集運服務條款》</a></p>
    <button class="btn btn-lg btn-primary full-width">同意協議並註冊</button>
</div>
