<!-- header -->
<dribehance-header title="'條款細則'"></dribehance-header>
<div class="wrap">
    <div class="domain-head domain-images">
        <h4>條款細則</h4>
        <p style="line-height: 2.5em;">「咇咇集運」絕不簽收任何以到付形式的貨物</p>
        <p style="line-height: 2.5em;">「咇咇集運」絕不簽收任何以平郵方式寄出、沒有查收或追蹤証明的貨物。</p>
        <p style="line-height: 2.5em;">「咇咇集運」只接受及處理，一間店舖所發出的一個運單號碼內只有一個客戶。</p>
        <p style="line-height: 2.5em;">貨件必須在到達物流中轉站 1個月內寄出，否則一律當作廢件處理。</p>
        <p style="line-height: 2.5em;">貨物合併後如不足一公斤會當作一公斤計算。</p>
        <p style="line-height: 2.5em;">如貨物體積重量大於實際重量，則會以體積重量計算 (體積重量 = 長cm * 寬cm * 高cm / 6,000)。</p>
        <p style="line-height: 2.5em;">貨物實際重量和體積重量，以「咇咇集運」計算為準。</p>
        <p style="line-height: 2.5em;">合併貨品一經確認收款，我們會盡快包裝, 恕不能再修改或刪除。</p>
        <p style="line-height: 2.5em;">6pm 截單，凡於 6pm 前付款的訂單會在指定的發貨日處理，而 6pm 後付款的訂單會於下個工作日處理</p>
        <p style="line-height: 2.5em;">順丰/順丰線1-3天。優速/實惠線3-5天。(以上已包括派送時間，查關除外)</p>
        <p style="line-height: 2.5em;">偏遠地區(如西貢或村屋等)需再加時派送。不同快遞公司會有不同的派遞時效</p>
        <p style="line-height: 2.5em;">鑒於香港的運輸公司每逢星期日或公眾假期休息的緣故，所以咇咇集運物流站和香港所有自取點星期日或公眾假期均暫停發貨，如有任何改動以本公司公佈為準。</p>
        <p style="line-height: 2.5em;">物流公司不會於星期日或公眾假期派送貨物。</p>
        <p style="line-height: 2.5em;">特殊情況：如偏遠地區、惡劣天氣或扣關查車等情況，有可能延遲到港及派送。若海關查車時間超過2天，我們會於網頁公佈查車及清關的最新消息。</p>
        <h4>付款條款細則</h4>
        <p style="line-height: 2.5em;">1 若客戶的訂單於付款成功後要求取消，本公司恕不安排退款。</p>
        <p style="line-height: 2.5em;">2 本公司不接受運費到付，必須先支付運費後，我們再安排發貨。</p>
        <p style="line-height: 2.5em;">3 如提供的地址屬非商業區或偏遠地區，而客戶沒有支付附加費，必須按本公司安排補付運費。</p>
        <p style="line-height: 2.5em;">4 如對運費有任何異議， 「咇咇集運」 保留最終裁決權。</p>
        <h4>有關物流</h4>
        <p style="line-height: 2.5em;">1 在正常派送時效內客戶請自行向各速遞公司查詢派遞狀況。若超過派送時效還未收到貨件的個案可要求本公司跟進。</p>
        <p style="line-height: 2.5em;">2 各個自取點的取件時間均不同，另外快遞公司亦不會於星期日或公眾假期派送貨物。</p>
        <p style="line-height: 2.5em;">3 訂單確認後不能更改指定地址。</p>
        <p style="line-height: 2.5em;">4 為保障客戶，快遞公司只會依照訂單上的指定地址送貨。</p>
        <p style="line-height: 2.5em;">5 如須派送至新地址，可以於確定訂單前在新增地址欄中輸入中文地址。</p>
        <p style="line-height: 2.5em;">6 如果客戶提供其他非收貨本人的辦公或住宅地址，若派送貨物時出現任何問題，本公司一概不會負責。</p>
        <p style="line-height: 2.5em;">7 如派送地址沒法泊車或沒有升降機而須上樓梯（或須上樓梯後才到達升降機）的樓層，快遞公司並不會上樓派送及會聯絡客戶於地面簽收取貨。詳情根據用選用的快遞公司條款決定。</p>
        <p style="line-height: 2.5em;">8 如果貨物到達後，快遞公司一直都聯絡不上客戶，貨物或會被退回或存於物流倉庫，而其產生之運費及存倉費需由客戶自行承擔。</p>
        <h4>免責條款</h4>
        <p style="line-height: 2.5em;">1 本公司對不可抗力所造成的物品運送延誤、遺失、毀滅或沒收不負責任，如戰爭、暴亂、惡劣天氣、航班延誤、墜機、颱風、火災、水災、重大交通事故及自然或人為的嚴重災害及本公司無法控制的各種情況或由於發運人或閣下的原因造成的沒收均不負任何責任。</p>
        <p style="line-height: 2.5em;">2 本公司對於物品運送的延誤或遺失所造成的間接損失或其它非主體性損失不承擔任何賠償責任。如快遞運送途中出現物品損壞或遺失，一切按照快遞公司的賠償準則補償客戶的損失。</p>
        <p style="line-height: 2.5em;">3 如因清關或天氣影響延誤或被海關充公沒收的貨品，本公司不會退回運費，亦不會承擔其相關損失。</p>
        <p style="line-height: 2.5em;">4 如貨物未能送達「全民集運」而產生的提貨費用由客戶自行承擔。</p>
        <p style="line-height: 2.5em;">5 本公司對由於以下原因造成的物品運送延誤，運送錯誤及損失不負任何責任：</p>
        <p style="line-height: 2.5em;"> (i) 由於客戶的原因，如地址填寫錯誤、不全、和電話號碼錯誤等；收件人地址變更或無法送達的地域等。 </p>
        <p style="line-height: 2.5em;"> (ii) 由於閣下所委託的物品本身違反了國家有關政策、法令所明令禁止 的，如易燃、易爆、易污染、易腐蝕、有毒的各類粉劑、水劑及其它危險品。 </p>
        <p style="line-height: 2.5em;"> (iii) 由發貨人或閣下未經聲明及包裝不當所引起的各種損失。</p>
        <p style="line-height: 2.5em;">6 由於本公司只代收貨物，加以合併後發出，故如因貨物本身包裝不妥善，沒有符合物品安全運輸的要求，或對特殊性物質的物品（如重要物品，易損壞的物品等）加以向本公司標明，其破損及所生之責任由閣下自行承擔。</p>
        <p style="line-height: 2.5em;">7 為保障客戶權益，除應政府部門和快遞公司要求對承運物品進行檢查或本公司定期的隨機抽樣調查外，本公司為客戶簽收貨件時，不會替會員拆開貨件包裝進行物品數量查核或品質檢驗。本公司對於物品數量、物品包含性質及其特性所造成之損失不承擔任何賠償責任。</p>
        <p style="line-height: 2.5em;">8 客戶有義務與賣家具有良好溝通，以確保所承運之物品之貨品備有足夠持久性承托、堅韌度強及厚度充裕的內及外包裝或容器，以免於運送期間因包裝不當而破損或導致貨件遺失；其包裝應備有充足和合適的保護材料的箱子或外包裝應與貨物的保護材料、緩衝材料及內容物成為一 體；如有多個內容物時，內容物與外包裝內壁之間不應有因磨擦、碰撞、擠壓或晃動而發出之聲音。如發現因包裝不善而導致運送途中發生貨件損壞，本公司將不作任何賠償。</p>
        <p style="line-height: 2.5em;">9 如托運之貨物為陶瓷、玻璃製品、特殊工藝品等易碎物品或容易摺曲 之貨品，客人有義務確保以下： </p>
        <p style="line-height: 2.5em;"> (i) 良好的外包裝：確保運送物品適當地包裝於一個具有足夠持久性和強度的包裝容器，以保護它於運送期間免受損傷，如使用較堅韌的箱子及其外箱再以木架釘上，以確保外箱可承受一定的壓力。</p>
        <p style="line-height: 2.5em;"> (ii) 良好的內包裝：確保包裝內部周圍配備防震材料加墊， 而每件易碎品須單獨使用厚度充裕的泡沫或汽泡紙等防震材料進行包裝。</p>
        <p style="line-height: 2.5em;"> (iii) 內外包裝必須 備有足夠持久性承托、堅韌度強及厚度充裕保護材料。 </p>
        <p style="line-height: 2.5em;"> (iv) 警告標籤：確保在外包裝四周當眼處用中文注示上「須小心處理的易碎品」、「易碎品」、「小心輕放」等警告標籤。如屬容易受彎曲而損毀之貨品，應加以「請勿摺曲」的警告標籤。</p>
        <p style="line-height: 2.5em;">如因以上任何一項包裝不善而導致運送途中發生貨件破損或導致貨件遺失 ，本公司將不作任何賠償。</p>
        <p style="line-height: 2.5em;">10 顧客之個人資料收集只作本公司送貨、聯絡及推廣之用，絕不會把有關資料提交給第三方或機構。</p>
        <h4>失件處理</h4>
        <p style="line-height: 2.5em;">1 保障範圍只包括由「全民集運」至客戶指定地址。 並不包括國內(賣家)寄送至「全民集運」倉庫地址。</p>
        <p style="line-height: 2.5em;">2 如遇有貨件遺失，必須於簽收後72小時內以WHATSAPP或旺旺聯絡本公司客服申報以查證。逾時申報，本公司將視為已按規定完成運送而不再受理。</p>
        <p style="line-height: 2.5em;">3 貨物損毀或遺失，公司以將按損毀或遺失那部份貨物運費的三倍作賠償，索償期限爲簽收當日起七天內，逾期提出索償本公司恕不受理。</p>
        <p style="line-height: 2.5em;">4 由於「全民集運」所承擔的法律責任不得超過賠償限額。 因此，如客戶需要對其運送物品作更多的保障，應額外自費購買運送物品之相關保險。 </p>
        <p style="line-height: 2.5em;">5 如有任何爭議，本公司將保留最終決定權。</p>
        <h4>申請賠償細則及安排</h4>
        <p style="line-height: 2.5em;">1 任何索賠必須於簽收後的 72 小時內，以WHATSAPP或旺旺通知本公司 作出第一時間的申報。</p>
        <p style="line-height: 2.5em;">2 保留簽收時的外包裝袋並拍照 (需有清晰單號)，再把外包裝袋內側反轉再拍照，因有些件太薄太細或有機會貼在外包裝袋內側。 </p>
        <p style="line-height: 2.5em;">3 必須先檢查清楚數量(件數)是否正確才可拆掉是次集運內的所有貨件，如已把貨件全部拆散才發現數量不齊，本公司恕不處理及負責。 </p>
        <p style="line-height: 2.5em;">4 如遺失的貨件屬冒牌貨或違禁品，一律不予以任何賠償，另本公司會保留法律追究權利。</p>
        <p style="line-height: 2.5em;">5 如簽收時發覺外包裝袋有破損或懷疑被拆開過的痕跡，務必在簽收單上註明「包裝破損」或「少件」，如沒有注明則被視為正常簽收，事後快遞公司及本公司均不再作任何賠償及處理。</p>
        <p style="line-height: 2.5em;">6 索償必須提供以下資料才會處理，資料不齊不足恕不處理：</p>
        <p style="line-height: 2.5em;"> 該貨件的快遞單號 </p>
        <p style="line-height: 2.5em;"> 証明：包裝照片 (必須跟足上述第2項的指引)</p>
        <p style="line-height: 2.5em;"> 購物證明的截圖 (需顯示屬於該快遞單號的版面並附有實付款額)</p>
        <p style="line-height: 2.5em;">7 在確定賠償個案成立後，一般約需5個工作天完成賠償。</p>
        <p style="line-height: 2.5em;">8 有賠償金額均以人民幣結算並退回支付寶帳戶。 *所有申報的賠償資料須經本公司進行審核，而審核結果將按本公司最後之決定為準，客戶不得異議。</p>
        <h4>預防破損處理</h4>
        <p style="line-height: 2.5em;">1 客戶有義務與賣家具有良好溝通，以確保所承運之物品之貨件備有足夠持久性承托、堅韌度強及厚度充裕的內及外包裝或容器，以免於運送期間因包裝不當而破損或導致貨件遺失；其包裝應備有充足和合適的保護材料的箱子 或外包裝應與貨件的保護材料、緩衝材料及內容物成為一體；如有多個內容物時，內容物與外包裝內壁之間不應有因磨擦、碰撞、擠壓或晃動而發出之聲音。如發現因包裝不善而導致運送途中發生貨件損壞，本公司將不作任何 賠償。 </p>
        <p style="line-height: 2.5em;">2 如托運之貨件為陶瓷、玻璃製品、特殊工藝品等易碎物品或容易摺曲之貨件，客人有義務確保以下：</p>
        <p style="line-height: 2.5em;"> 良好的外包裝：確保運送物品適當地包裝於一個具有足夠持久性和強度的包裝容器，以保護它於運送期間免受損傷，如使用較堅韌的箱子及其外箱再以木架釘上，以確保外箱可承受一定的壓力。</p>
        <p style="line-height: 2.5em;"> 良好的內包裝：確保包裝內部周圍配備防震材料加墊，而每件易碎品須單獨使用厚度充裕的泡沫或汽泡紙等防震材料進行包裝。</p>
        <p style="line-height: 2.5em;"> 內外包裝必須備有足夠持久性承托、堅韌度強及厚度充裕保護材料。 </p>
        <p style="line-height: 2.5em;"> 警告標籤：確保在外包裝四周當眼處用中文注示上「須小心處理的易碎品」、「易碎品」、「小心輕放」等警告標籤。如屬容易受彎曲而損毀之貨件，應加以「請勿摺曲」的警告標籤。</p>
        <p style="line-height: 2.5em;">3 如因以上任何一項包裝不善而導致運送途中發生貨件破損或導致貨件遺失，本公司將不作任何賠償。</p>
        <p style="line-height: 2.5em;"></p>
    </div>
</div>
