<!-- header -->
<dribehance-header title="'無法派送範圍'"></dribehance-header>
<div class="wrap">
    <div class="domain-head domain-images">
        <h4>以下屬暫無法派送範圍：</h4>
        <p style="line-height: 2.5em;">電視廣播城、電訊盈科機樓、泳池、遊樂場、護老院、海洋公園、隧道收費站、香港國際機場、馬灣、清水灣、赤柱、大潭、深水灣、淺水灣、山頂、港島半山、石澳、貝沙灣、碧瑤灣、大嶼山、迪士尼樂園、愉景灣、離島區、梅窩、東涌、大澳、南丫島、榕樹灣、索罟灣、坪洲、長洲、東龍灣、蒲臺島、龍鼓洲、索罟群島、貨櫃碼頭、環球貿易廣場、漾日居、凱旋門、天際100、天壐、君臨天下、擎天半島、中環新世界大廈、中環國際金融中心一、二期、大帽山、珀麗灣、碼頭、鐵路站、鐵路站內店舖、殯儀館、地盤、禮賓府、領事館、舂坎角、墳場、會展(只提供派送至辦公/行政大樓)、羅湖、落馬洲、文錦渡、指定禁區內、打鼓嶺、米埔、荃灣屠場、中環纜車徑、數碼港、深灣</p>
    </div>
</div>
