<!-- header -->
<dribehance-header title="'公司介紹'"></dribehance-header>
<div class="wrap">
    <div class="about-us">
        <p>咇咇集運是香港全面的網絡平台服務公司，我們會為各會員提供一站式購買集運的服務，包括國內網購合併集運到香港，支付寶充值，務求令各會員能節省最多的金錢和時間，盡情享受網上購物的樂趣，減少在當中所產生不必要的問題。</p>
        <p>咇咇集運是全港提供集運服務中最便宜快捷安全的公司之一，我們會為顧客提供一系列的服務，務求令您能節省最多的金錢和時間，盡情享受淘寶網購的樂趣。</p>
        <p>本公司為客戶提供高質素的一站式物流服務，務求把世界各地的距離拉近，為消費者帶來更方便，更多元化的選擇。</p>
        <h3>1. 集運</h3>
        <p>咇咇集運運會員在國內、國外網站看到心儀貨品，，只要將這些貨物寄到集運專用地址，我們的專業物流部門會替您接收再轉運至香港，您更可在同時於數間網店購物，再集運回香港，減少運送到家所產生的成本，更省卻追蹤不同速遞狀態的煩惱。</p>
        <h3>2. 代購</h3>
        <p>咇咇集運採購專員代購貨物： 在中國或國外網站看到心儀貨品，但賣家沒有支付寶或網店不接受非本地信用咭等交易工具平台
            < 我們的代購可幫您解決此問題. 只要輸入您心儀貨品的網址，輸入貨品件數,顏色等等貨品資點,本公司職員會辦工時間內助您購買，並可同時利用集運服務，令您安心接收貨物。</p>
                <h3>3. 充值</h3>
                <p>
                    中國網上購物平台需支付寶易交易，如入帳支付寶覺得麻煩。亦可靠本公司的充值服務，充值至各會員的支付寶，讓各會員快捷進行網購。</p>
    </div>
</div>
