<!-- header -->
<dribehance-header title="'代付記錄'"></dribehance-header>
<div class="list-group">
    <div class="list-group-item">
        <div class="cargo-item">
            <div class="cargo-header clearfix">
                支付寶帳號：036569228
                <span class="pull-right text-primary">已完成</span>
            </div>
            <div class="cargo-content">
                <p class="clearfix">
                	<span class="col-xs-6">充值金額(RMB)：1</span>
                	<span class="col-xs-6">入賬金額(HKD)：1.26</span>
                </p>
                <p class="clearfix" style="margin-bottom:0px">充值方式：南洋商業銀行
                </p>
                持有人：dribehance
            </div>
            <div class="cargo-action">
                <!-- <i class="fa fa-check-square-o"></i> -->
            </div>
        </div>
        <div class="cargo-item">
            <div class="cargo-header clearfix">
                支付寶帳號：036569228
                <span class="pull-right text-primary">已完成</span>
            </div>
            <div class="cargo-content">
                <p class="clearfix">
                	<span class="col-xs-6">充值金額(RMB)：1</span>
                	<span class="col-xs-6">入賬金額(HKD)：1.26</span>
                </p>
                <p class="clearfix" style="margin-bottom:0px">充值方式：南洋商業銀行
                </p>
                持有人：dribehance
            </div>
            <div class="cargo-action">
                <!-- <i class="fa fa-check-square-o"></i> -->
            </div>
        </div>
    </div>
</div>
