<!-- header -->
<dribehance-header title="'貨物列表'"></dribehance-header>
<div class="wrap has-bottom">
	<div class="cargo-item" ng-repeat="cargo in cargos" ng-class="{'text-primary':cargo.checked}" ng-click="check(cargo)">
		<div class="cargo-header clearfix">
			快遞編號：{{cargo.express_number}}
			<span class="pull-right">{{get_status(cargo.item_type)}}</span>
		</div>
		<div class="cargo-content">
			<p>快遞公司：{{cargo.express_company}}</p>
			<p>備註：{{cargo.remarks||'無'}}</p>
			<p class="clearfix">
				<span class="pull-left">公斤：{{cargo.kg}}kg</span>
				<span class="pull-right">體重：{{cargo.weight_long ||'0'}}cmx{{cargo.weight_wide||'0'}}cmx{{cargo.weight_height||'0'}}cm</span>
			</p>
			<p>創建時間：{{cargo.post_time}}</p>
		</div>
		<div class="cargo-action">
			<i class="fa" ng-if="cargo.item_type != 0" ng-class="{'fa-check-square-o':cargo.checked,'fa-square-o':!cargo.checked}"></i>
		</div>
	</div>
	<div class="btn text-center full-width" ng-click="loadMore()">{{page.message}}</div>
</div>
<div class="tab-bar bottom">
	<div class="tab-item" ng-click="check_reverse()">
		<i class="fa fa-square-o"></i>反選
	</div>
	<div class="tab-item" >
		<span class="btn btn-primary full-width" ng-click="merge()">合併貨物</span>
	</div>
</div>