<!-- header -->
<dribehance-header title="'貨物列表'"></dribehance-header>
<div class="wrap has-bottom">
	<div class="cargo-item">
		<div class="cargo-header clearfix">
			快遞編號：036569228
			<span class="pull-right">代入倉</span>
		</div>
		<div class="cargo-content">
			<p>快遞公司：申通快遞</p>
			<p>備註：</p>
			<p class="clearfix">
				<span class="pull-left">公斤：3.0</span>
				<span class="pull-right">體重：5cmx6cmx8cm</span>
			</p>
			<p>創建時間：2015-06-30 15:00</p>
		</div>
		<div class="cargo-action">
			<i class="fa fa-check-square-o"></i>
		</div>
	</div>
	<div class="cargo-item text-primary">
		<div class="cargo-header clearfix">
			快遞編號：036569228
			<span class="pull-right">代入倉</span>
		</div>
		<div class="cargo-content">
			<p>快遞公司：申通快遞</p>
			<p>備註：</p>
			<p class="clearfix">
				<span class="pull-left">公斤：3.0</span>
				<span class="pull-right">體重：5cmx6cmx8cm</span>
			</p>
			<p>創建時間：2015-06-30 15:00</p>
		</div>
		<div class="cargo-action">
			<i class="fa fa-check-square-o"></i>
		</div>
	</div>
</div>
<div class="tab-bar bottom">
	<div class="tab-item">
		<i class="fa fa-square-o"></i>反選
	</div>
	<div class="tab-item" >
		<span class="btn btn-primary full-width" ng-click="merge()">合併貨物</span>
	</div>
</div>