<!-- header -->
<dribehance-header title="'消息詳情'"></dribehance-header>
<div class="wrap">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla sint mollitia maiores nobis sit quasi cupiditate consectetur, ex ratione ipsum sed quis aperiam repellat. Tempore culpa error obcaecati hic. Sed.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis incidunt, maiores. Recusandae, eveniet corporis, est esse ratione quibusdam ipsam deserunt, earum a rem id neque aspernatur, quos commodi consequuntur non.
</div>