<!-- header -->
<div class="header">
    <i class="fa fa-angle-left pull-left back-action" ng-click="back()"></i>
    <a class="pull-right text-white extend-action" ng-href="#/search">查詢</a>
    <span class="head-text">
            集運訂單
        </span>
</div>
<div class="list-group">
    <div class="list-group-item clearfix" ng-repeat="order in orders">
        <p class="clearfix">
            單號：{{order.flow_number}} <span class="pull-right">{{get_status(order.status)}} <span class="text-primary" ng-if="order.status == 1">去付款</span></span>
        </p>
        <p class="clearfix" style="margin-bottom:5px">
            <span class="col-xs-5">重量：{{order.weight}}kg</span>
            <span class="col-xs-7">服務：{{get_server(order.server)}}</span>
        </p>
        <p class="clearfix" style="margin-bottom:5px">
            <span class="col-xs-5">包裝費：{{order.bagging_fee}}HKB</span>
            <span class="col-xs-7">價格：</br><span class="text-primary">{{order.HKD}}HKB</span>({{order.RMB}}RMB)</span>
        </p>
        <p>創建時間：{{order.from_time}}</p>
        <div>自提/派送地址：{{order.address}}</div>
        <div class="order-detail bg-gray-lighter" ng-if="order.id == preview_id">
            <div class="cargo-item" ng-repeat="cargo in order.iRModelList">
                <div class="cargo-header clearfix">
                    快遞編號：{{cargo.express_number}}
                    <span class="pull-right">{{get_status_1(cargo.item_type)}}</span>
                </div>
                <div class="cargo-content">
                    <p>快遞公司：{{cargo.express_company}}</p>
                    <p>備註：{{cargo.remarks}}</p>
                    <p class="clearfix">
                        <span class="pull-left">公斤：{{cargo.kg}}</span>
                        <span class="pull-right">體重：{{cargo.weight_long}}cmx{{cargo.weight_wide}}cmx{{cargo.weight_height}}cm</span>
                    </p>
                    <p>創建時間：{{cargo.post_time}}</p>
                </div>
                <div class="cargo-action">
                    <!-- <i class="fa fa-check-square-o"></i> -->
                </div>
            </div>
        </div>
        <div class="pull-right text-success" ng-click="preview(order.id)">點擊查看詳情</div>
        <!-- <div class="pull-right text-success" ng-if="preview_id != ''" ng-click="preview_hide(order.id)">收起詳情</div> -->
    </div>
    <div class="section text-center" ng-click="loadMore()">{{page.message}}</div>
</div>
