<!-- header -->
<dribehance-header title="'集運備註'"></dribehance-header>
<div class="wrap">
    <div class="domain-head domain-images">
        <p style="line-height: 2.5em;">1. 自取點一般會提供3天的免費倉存服務，逾期取件會附加費用</p>
        <p style="line-height: 2.5em;">2. 實惠線派送時間為3天，另本公司所提供的派送時效是根據快遞公司過往記錄作參考，沒有百分百保證。</p>
        <p style="line-height: 2.5em;">3. 倉務同事會在出貨時检查貨品，如發現違禁品，會留倉待發。仿品、茶葉、液體、食物都是違禁品。</p>
        <p style="line-height: 2.5em;"><span class="padding_left">另為使大家更自律，已付的違禁品運費是不會退回的。</span></p>
        <p style="line-height: 2.5em;">4. 每件貨物最少計費重量為︰1KG。 單件貨品如不足1KG亦會按1KG計數。</p>
        <p style="line-height: 2.5em;">5. 單件貨物的單邊長度不能過150CM，單件貨物長闊高總和不得超過200cm。本店寄出的貨品，單件貨物不能超過40 KG。</p>
        <p style="line-height: 2.5em;">6. 快遞公司會以實際重量和體積重中較大的一個收費。如果是重量比較輕而積比較重的貨物，快遞公司按體積收費。請大家在集運前務必弄清楚實際重量和貨品的包裝體積，以免造成不必要的誤會。</p>
        <p style="line-height: 2.5em;"><span class="padding_left">具體體積計算方式為，體積重量 = 長（CM）*寬（CM）*高（CM）</span></p>
        <p style="line-height: 2.5em;">7. 貨物到達後，自取點會以SMS / WHATSAPP / 電話通知會員取件</p>
        <p style="line-height: 2.5em;">8. 大陆禁止出口收寄目录: <a href="http://www.tianmao.ca/jinyun.htm" target="_blank">http://www.tianmao.ca/jinyun.htm</a></p>
        <p style="line-height: 2.5em;">9. 顧客如要查詢快遞情況，須自行聯絡快遞的香港分公司。但個別事件，如失件或超過12個工作天未能收件，集運亦會盡力協助。</p>
    </div>
</div>
