<!-- header -->
<dribehance-header title="'承運契約條款'"></dribehance-header>
<div class="wrap">
    <div class="domain-head domain-images">
        <h4>承運契約條款</h4>
        <p style="line-height: 2.5em;">1. 閣下自支付運費起即表示接受和遵守本契約之條款，保證所委託發運的物品符合國家法律及快遞公司能夠接受的。本公司有權放棄或拒絕接收不適宜快遞方式運輸的，有意或無意隱瞞物品真實名稱及價值，以及國家法律明令禁止攜帶、郵寄、運輸的物品。一旦違反，閣下願意承擔由此產生的一切法律和經濟賠償責任。另本公司對下列物品拒絕代運 : 易燃、易腐爛或具毒性、爆炸性、殺傷性、腐蝕性及放射性之危險品； 藥物、傳染性或妨害公共衛生的物品、毒品或吸毒之相關器具； 妨害風化之圖書、照片、雕塑品或器具； 侵犯商標、著作權或智慧財產權之物品； 貨幣、增值稅發票、其他稅票或有價證券、金銀財寶、古董、貴重金屬 (黃金、白銀、稀有貴 金屬)； 活動物、植物或種子； 私人證件、合同、批文、批鎖單或具通信性質之信函； 反動政治刊物、書籍、錄影帶或照片 ; 電子用品； 一切粉末粉劑、液體、膏體及光碟； 非正品/仿制品或產地來源不正確的物品； 包裝不妥、易碎、可能危害人身安全、污染或損毀其他郵件設備的物品； 外貿餘單的貨品； 懷疑是品牌非正品的貨品。如說明是正品， 但價錢是不合理地低的貨品； 受到香港海關進口管制的禁運物品，如食物或中藥材等； 不符合《香港法律》、《中華人民共和國產品質量法》、《中華人民共和國消費者權益保護法》及 其他行政法規，部門規章和國家強制性標準規定的貨品；
        </p>
        <p style="line-height: 2.5em;">2. 如因閣下的貨物內溢出、滲出、或漏出任何液體或固體， 又或者因貨物包裝不當或貨物本身等種種因素， 而引致其他貨物的污染或損毁， 本公司有權追究閣下一切法律和經濟賠償責任。</p>
        <p style="line-height: 2.5em;">3. 本公司對貨到付款之貨物一律拒</p>
        <p style="line-height: 2.5em;">4. 本公司只接受及處理一個運單號一個包裝貨件(可包含多件貨品)，如賣家提供一個運單號，但發出兩件或以上的包裝貨件，本公司可拒收。如屬這情況下簽收後的任何損失，本公司恕不負責。</p>
        <p style="line-height: 2.5em;">5. 本公司有權獲知被承運物品的性質、品名、數量及重量等，以協助有關政府部門和快遞公司對承運物品進行檢查。</p>
        <p style="line-height: 2.5em;">6. 經本公司代運物品均會被快遞公司隨機抽樣調查，若發現物品不符合 「承運契約條款」要求，本公司及快遞公司有權拒運。</p>
        <p style="line-height: 2.5em;">7. 貨件必須在到達物流中轉站 1個月內寄出，否則一律當作廢件處理</p>
        <p style="line-height: 2.5em;">8. 如果貨物到達後，快遞公司一直都聯絡不上客戶，貨物或會被退回或存於物流倉庫，而其產生之運費需由客戶自行承擔。</p>
        <h4>托運須知 及 禁運規範</h4>
        <p style="line-height: 2.5em;"><span></span></p>
        <h5>一.本公司拒絕承運以下物品</h5>
        <p></p>
        <p style="line-height: 2.5em;">1) 易燃、易腐爛或具毒性、爆炸性、殺傷性、腐蝕性及放射性之危險品；</p>
        <p style="line-height: 2.5em;">2) 毒品或吸毒之相關器具；</p>
        <p style="line-height: 2.5em;">3) 貨幣、增值稅發票、其他稅票、有債證券、金銀財寶、古董級貴金屬</p>
        <p style="line-height: 2.5em;">4) 妨害風化之圖書、照片、雕塑品或器具；</p>
        <p style="line-height: 2.5em;">5) 侵犯商標、著作權或智慧財產權之物品；</p>
        <p style="line-height: 2.5em;">6) 活動物、植物或種子；</p>
        <p style="line-height: 2.5em;">7) 具通信性質之信函；</p>
        <p style="line-height: 2.5em;">8) 電子用品；</p>
        <p style="line-height: 2.5em;">9) 一切粉末、液體物品及光碟；</p>
        <p style="line-height: 2.5em;">10) 非正品/仿單的貨品. (如客人所寄的非正品或仿單的貨品，不論貨品寄失與否，本公司一律不會作出賠償)；</p>
        <p style="line-height: 2.5em;">11) 外貿餘單的貨品；</p>
        <p style="line-height: 2.5em;">12) 懷疑是品牌非正品的貨品。如說明是正品， 但價錢是不合理地低的貨品；</p>
        <p style="line-height: 2.5em;">13) 受到香港海關進口管制及澳門海關的禁運物品，如食物或中藥材等；</p>
        <p style="line-height: 2.5em;">14) 不符合《香港法律》、《中華人民共和國產品質量法》、《中華人民共和國消費者權益保護法》及其他行政法規，部門規章和國家強制性標準規定的貨品；</p>
        <h4>托運須知</h4>
        <p style="line-height: 2.5em;">1. 每張訂單沒有合併數量上限。</p>
        <p style="line-height: 2.5em;">2. 貨物損毀或遺失按運費三倍賠償，索償期限爲簽收當日起七天內，逾期提出索償本公司恕不受理。</p>
        <p style="line-height: 2.5em;">3. 物體積重量計算大於實際重量的貨品，會按體積重量計算：(長 x 寬 x 高 (cm) ÷6000 + 實際重量) / 2 = 收費重量 (KG)</p>
        <p style="line-height: 2.5em;">4. 附加費用地區會按情況作出修改，壹切以滙購八方的評估做最後收費標准。</p>
        <p style="line-height: 2.5em;">5. 如須派送至新地址，可以確定訂單時在新增地址欄中輸入中文地址。</p>
        <p style="line-height: 2.5em;">6. 保障客戶，物流公司只會依照訂單上的地址送貨：如須更改送貨地址，客戶需自行聯絡派送商。</p>
        <p style="line-height: 2.5em;">7. 如果客戶提供其他非收貨本人的工作或住宅地址，若派送時出現任何問題，本公司壹概不會負責。</p>
        <p style="line-height: 2.5em;">8. 如客戶要求派送的指定地址沒有電梯，物流公司並不會上樓派送及會聯絡客戶于地面取貨。</p>
        <p style="line-height: 2.5em;">9. 取貨人須出示其身份證明文件以核實身份及做記錄用途。此等規定的目的是基于安全理由，確認取貨 人身份才可以取貨。如當中涉及違法行爲，資料需用做舉證用途或協助警方調查之用。</p>
        <p style="line-height: 2.5em;">10. 客戶簽收貨品時須核對運單號碼數量及確定包裝原好，如發現任何問題，應即時與派件員提出。</p>
        <p style="line-height: 2.5em;">11. 所有玻璃及易碎品，如有到港損壞，本公司恕不負責。</p>
        <h4>被承運物品的知情權</h4>
        <p style="line-height: 2.5em;">1. 本公司有權獲知被承運物品的性質、品名數量及重量等，以協助有關政府部門和運輸部門對承運物品進行檢查或查處。</p>
        <p style="line-height: 2.5em;">2. 經到貨啦委託發運的物品均會被隨機抽樣調查。若發現物品不符合 「承運契約條款」要求，本公司將拒絕承運。</p>
        <p style="line-height: 2.5em;">3. 本公司之工作人員有權查看貨物，在確認貨物中沒有違禁品的情況下， 閣下及其委託代理人方可領取貨物。</p>
    </div>
</div>
